In [14]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.cluster import KMeans

In [17]:
data = pd.read_csv("iris.csv")

In [18]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
data.species.value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [20]:
data.drop('species',inplace = True, axis =1)

In [21]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [22]:
data['ID'] = data.index+100

In [23]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width   ID
0           5.1          3.5           1.4          0.2  100
1           4.9          3.0           1.4          0.2  101
2           4.7          3.2           1.3          0.2  102
3           4.6          3.1           1.5          0.2  103
4           5.0          3.6           1.4          0.2  104